* {
	    font-family: 'JelleeRoman';
	    text-align: center;
        font-weight: normal; 
        font-style: normal; 
        color: black;
        font-size: 22px;
}
a {
  color: black;
}
a:hover {
  color: white;
}
a:visited {
  color: #595959;
}
h1 {
        font-size: 50px;
}
h2.about {
        text-align: left;
}
h2.thanks {
        text-align: right;
        font-size: 20px;
}
p.welcome, p.c, p.form {
        text-align: left;
        font-size: 18px;
}
p.art {
        font-size: 16px;
}
p.thanks {
        text-align: right;
}
body {
		width: 100%;
		margin: 0 auto;
        background-color:white;
        background-image: url("http://dreamatico.com/data_images/mountain/mountain-4.jpg");
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center;
}
#content {
		overflow: auto;
}
#nav, #welcome, #footer, #about, #course, #contactme, #thankyou {
		margin: 1%;
}
#welcome, #footer, #nav, #about, #course, #contactme, #thankyou, .article {
        border: solid black 2px;
}
.column1, .column2, .column3, .column4, .column5, .column6 {
		width: 31.3%;
		float: left;
		margin: 1%;
        vertical-align: middle;
        line-height: 50px;
}
.artifact1, .artifact2, .artifact3, .artifact4, .artifact5 {
        width: 75%;
		float: left;
		margin: 1%;
        vertical-align: middle;
        line-height: 50px;
        background-color: white;
        background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRq_V70COoxbzmypq8_JCShFLKumyuExAFiTKwpV2BvvY4kMCSv");
        background-size: cover;
        background-position: bottom;
        background-repeat:no-repeat;
}
.iconArt1, .iconArt2, .iconArt3, .iconArt4, .iconArt5 {
        width: 20%;
		float: right;
		margin: 1%;
        vertical-align: middle;
        line-height: 50px;
        background-color: white;
}
.iconArt1 {
        background-image: url("artifacts/artifact01.PNG");
        background-repeat:no-repeat;
        background-size: cover;
}
.iconArt2 {
        background-image: url("artifacts/artifact02.PNG");
        background-repeat:no-repeat;
        background-size: cover;
}
.iconArt3 {
        background-image: url("artifacts/artifact03.PNG");
        background-repeat:no-repeat;
        background-size: cover;
}
.iconArt4 {
        background-image: url("artifacts/artifact04.PNG");
        background-repeat:no-repeat;
        background-size: cover;
}    
.iconArt5 {
        background-image: url("artifacts/artifact05.PNG");
        background-repeat:no-repeat;
        background-size: cover;
}
.column1 {
        background-color:#41526A;
        background-image: url("http://www.jamboree2017.sgtradingpost.online/uploads/11313582/Image/MountainSilhouette.png");
        background-size: cover;
        background-position: bottom;
        background-repeat:no-repeat;
}
.column2 {
        background-color:#416A69;
        background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/YYrb1C5/videoblocks-man-walks-over-hill-silhouette_bdmwj8oxz_thumbnail-full07.png");
        background-size: cover;
        background-position: bottom;
        background-repeat:no-repeat;
}
.column3 {
        background-color: #768B8C;
        background-image: url("https://sepedakeren.com/wp-content/uploads/2018/01/pure-vida-adventures-guides-rock-climbing-white-water-throughout-mountain-silhouette-png.png");
        background-size: contain;
        background-position: bottom;
        background-repeat:no-repeat;
		margin-right: 0%;
}
.column4 {
        background-color:#416A69;
        background-image: url("http://www.willkayachay.org/images/expeditions/mountains.png");
        background-size: 100% 70%;
        background-position: bottom;
        background-repeat:no-repeat;
}
.column5 {
        background-color:#416A69;
        background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSmxgcOnelOLQWcEAdJN77u1eRqMgogmpYCSkzb-ByvGK3hC0h");
        background-size: cover;
        background-position: bottom;
        background-repeat:no-repeat;
}
.column6 {
        background-color:#41524A;
        background-image: url("https://cdn.shopify.com/s/files/1/0777/5743/t/249/assets/mountain-silhouette.png?16704617071748135766");
        background-size: contain;
        background-position: bottom;
        background-repeat:no-repeat;
        margin-right: 0%;
}
li {
		display: inline;
		padding: 0.5em;
}
li.mod {
        text-align: left;
        display: block;
}
#nav, #footer {
		background-color: #00F3FF;
		padding: 0.5em 0;
        background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/juCTlI0/aerial-mountain-silhouette-above-the-clouds-at-sunset_nbprotydl__F0000.png");
        background-size: cover;
        background-position: bottom;
        background-repeat:no-repeat;
}
#welcome, .article{
		height: 10em;
		margin-bottom: 1em;
}
#course {
        background-color: #D8DCDC;
        margin-bottom: 1em;
        background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRq_V70COoxbzmypq8_JCShFLKumyuExAFiTKwpV2BvvY4kMCSv");
        background-size: cover;
        background-position: bottom;
        background-repeat:no-repeat;
}
#contactme {
        background-color: #D8DCDC;
        margin-bottom: 1em;
        background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRq_V70COoxbzmypq8_JCShFLKumyuExAFiTKwpV2BvvY4kMCSv");
        background-size: cover;
        background-position: bottom;
        background-repeat:no-repeat;
        text-align: center;
        width: 60%;
        margin:  auto;
        padding: 50px;
}
#thankyou {
        background-color: #D8DCDC;
        margin-bottom: 1em;
        background-image: url("http://summitleadershipsolutions.com.au/wp-content/uploads/2014/05/Thank-You.jpg"), url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRq_V70COoxbzmypq8_JCShFLKumyuExAFiTKwpV2BvvY4kMCSv");
        background-size: 40% 100%, cover;
        background-position: left, bottom;
        background-repeat:no-repeat, no-repeat;
        width: 60%;
        margin:  auto;
        padding: 100px;
}
#welcome, #about {
        background-color: #D8DCDC;
        background-image: url("http://www.clker.com/cliparts/K/h/F/J/z/D/mountains.svg");
        background-size: contain;
        background-position: right;
        background-repeat:no-repeat;
}
